# Project specific
start_up.sh

# Credentials
.credentials.yaml

.coverage


# Compiled / optimized files
__pycharch__
*.py[cod]
*$py.class

# IDE
.idea

# Flask
instance/
.webassets-cache

# snippets
Flask-App/snippets/

# Sphinx documentation
docs/build/
