# Project specific
start_up.sh
scripts

# Credentials
.credentials.yaml
id_rsa

.coverage
.coveragerc


# Compiled / optimized files
__pycharch__
*.py[cod]
*$py.class

# IDE
.idea
.vscode

# Flask
instance/
.webassets-cache

# snippets
Flask-App/snippets/

# Sphinx documentation
docs/build/
